<section class="header">
    <div class="common-limiter">
        <h1 class="logo">
            Maze Runner
        </h1>

        <div class="inputs">
            <div class="wrap-input">
                <label for="crossover">Crossover</label>
                <input type="text" [(ngModel)]="crossover" class="common-input" id="crossover" />
            </div>

            <div class="wrap-input">
                <label for="mutation">Mutação</label>
                <input type="text" [(ngModel)]="mutation" class="common-input" id="mutation" />
            </div>

            <div class="wrap-input">
                <label for="populationLength">População</label>
                <input type="text" [(ngModel)]="populationLength" class="common-input" id="populationLength" />
            </div>

            <div class="wrap-input">
                <label for="maxGenerations">Max. Gerações</label>
                <input type="text" [(ngModel)]="maxGenerations" class="common-input" id="maxGenerations" />
            </div>

            <button class="common-button" (click)="start()">
                Start
            </button>
        </div>
    </div>
</section>

<section class="page-content">
    <div class="common-limiter">
        <div class="maze">
            <div class="maze-item" *ngFor="let block of maze; let i = index " [ngClass]="{'border-bottom': i > 89 }">
                <div class="block" [ngClass]="{'w-top': block.wTop, 'w-right': block.wRight, 'w-bottom': block.wBottom, 'w-left': block.wLeft}"></div>
            </div>
        </div>

        <div class="console-log">
            <p *ngFor="let value of log">{{value}}</p>
        </div>
    </div>
</section>